:root{
    /* Colors */

    /* * Primary * */
    --col-prim-dcyan : hsl(158, 36%, 37%);
    --col-hov-dcyan : hsl(158, 36%, 25%);
    --col-prim-cream : hsl(30, 38%, 92%);

    /* * Neutral * */
    --col-neu-dblue : hsl(212, 21%, 14%);
    --col-neu-d-g-blue : hsl(228, 12%, 48%);
    --col-white : hsl(0, 0%, 100%);

    /* Typography */

    /* Font Families */
    --ff-montserrat : 'Montserrat', 'sans';
    --ff-fraunces : 'Fraunces', 'sans';

    --fs-p : 0.875rem;

    /* Font Weights */
    --fw-m-500 : 500;
    --fw-m-700 : 700;

    --fw-f-700 : 700;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--col-prim-cream);
}

/* Mobile First Workflow */

/* wrapper */
.main{
    background-color: var(--col-white);
    display: grid;
    place-items: center;
    border-radius: 9px;
    max-width: 480px;
    margin: 1em;
}

/* product image */
.pimage-phone{
    border-radius: 9px 9px 0px 0px;
    max-width: 100%;
    max-height: 100%;
}

/* text content */
.content{
    padding: 1.25em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5em;
}

.category{
    font-family: var(--ff-montserrat);
    letter-spacing: 0.35rem;
    font-size: 0.75rem;
    color: var(--col-neu-d-g-blue);
}

.title{
    font-family: var(--ff-fraunces);
    font-size: 1.85rem;
    color: var(--col-neu-dblue);
    line-height: 1.85rem;
}

.description{
    font-family: var(--ff-montserrat);
    font-size: 0.8rem;
    line-height: 1.2rem;
    color: var(--col-neu-d-g-blue);
    margin-bottom: 1em;
}

.price{
    display: flex;
    align-items: center;
    gap: 5%;
}
.current-price{
    font-family: var(--ff-fraunces);
    font-size: 1.85rem;
    color: var(--col-prim-dcyan);
}
.original-price{
    font-family: var(--ff-montserrat);
    font-size: 0.75rem;
    color: var(--col-neu-d-g-blue);
    text-decoration: line-through;
    font-weight: var(--fw-m-500);
}

.cart{
    width: 100%;
    padding: 1em 0;
    font-family: var(--ff-montserrat);
    font-weight: var(--fw-f-700);
    border: none;
    background-color: var(--col-prim-dcyan);
    color: var(--col-white);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    font-size: var(--fs-p);
}

.cart:hover{
    background-color: var(--col-hov-dcyan);
}

.pimage-desktop{
    display: none;
}

@media (min-width: 30rem){
    .main{
        grid-template-columns: 1fr 1fr;
        place-items: center;
        margin: 7em auto;
    }
    
    .pimage-phone{
        display: none;
    }

    .pimage-desktop{
        display: block;
        height: 100%;
        width: 100%;
        border-radius: 9px 0px 0px 9px;
    }
}